@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://www.w3schools.com/w3css/4/w3.css");


.app {
  width: 1532px;
  margin: 0 auto;
}
.content {
  padding-top: 70px;
  height: 200px;
  position: relative;
}
.content::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-30%);
  width: 110%;
  left: -5%;
  height: 230px;
  background: #014f7d;
  border-radius: 50% 50% 0 0;
}

.landing {
  background: linear-gradient(90deg, #0588d1, #05a4c9);
}
.cl {
  background-color: red;
}
